@-webkit-keyframes logo-grow {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    top: 50%;
    left: 50%;
    opacity: 0;
  }
  80% {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes logo-grow {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    top: 50%;
    left: 50%;
    opacity: 0;
  }
  80% {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@-webkit-keyframes hole {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translate(-50%, 130%);
            transform: scale(0) translate(-50%, 130%);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, 130%);
            transform: scale(1) translate(-50%, 130%);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(1.1) translate(-50%, 130%);
            transform: scale(1.1) translate(-50%, 130%);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0) translate(-50%, 130%);
            transform: scale(0) translate(-50%, 130%);
  }
}

@keyframes hole {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translate(-50%, 130%);
            transform: scale(0) translate(-50%, 130%);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, 130%);
            transform: scale(1) translate(-50%, 130%);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(1.1) translate(-50%, 130%);
            transform: scale(1.1) translate(-50%, 130%);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0) translate(-50%, 130%);
            transform: scale(0) translate(-50%, 130%);
  }
}

@-webkit-keyframes falling {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    top: 0;
    left: 50%;
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.7) rotate(450deg);
            transform: translate(-50%, -50%) scale(0.7) rotate(450deg);
    opacity: 0;
    top: 78%;
  }
}

@keyframes falling {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    top: 0;
    left: 50%;
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.7) rotate(450deg);
            transform: translate(-50%, -50%) scale(0.7) rotate(450deg);
    opacity: 0;
    top: 78%;
  }
}

@-webkit-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    background-color: #587fff;
  }
  50% {
    background-color: #8dd6cf;
  }
  100% {
    background-color: #587fff;
  }
}

@keyframes blink {
  0% {
    background-color: #587fff;
  }
  50% {
    background-color: #8dd6cf;
  }
  100% {
    background-color: #587fff;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #E1CFB7;
}

body h1,
body h2,
body h3 {
  font-family: "Titillium Web", "Times New Roman", serif, sans-serif;
}

.cursive {
  font-style: italic;
}

.emphasis {
  font-weight: bold;
}

.navigation-burger {
  color: #5a2a13;
  font-size: 2rem;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 999;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-text-emphasis: none;
          text-emphasis: none;
}

.navigation-burger:hover {
  color: black;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navigation-burger.active {
  color: #E1CFB7;
}

.navigation-burger.active:hover {
  color: #5a2a13;
}

.navigation {
  z-index: 10;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-image: url("/images/logo-opacity.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: screen;
}

.navigation .navigation-wrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.navigation .navigation-wrap img {
  width: 5rem;
  display: block;
  margin: 1rem auto;
}

.navigation .navigation-wrap .navigation-h1 {
  text-transform: uppercase;
  margin: 1rem;
  font-size: 2rem;
  color: #E1CFB7;
}

.navigation .navigation-wrap .navigation-ul {
  list-style-type: none;
}

.navigation .navigation-wrap .navigation-ul .navigation-button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navigation .navigation-wrap .navigation-ul .navigation-button:hover {
  color: #E1CFB7;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 5rem;
  width: 100%;
  background-color: white;
  position: fixed;
  padding: 0 4rem 0 0;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 6;
  -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.header.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header h2 {
  font-size: 1.2rem;
}

.header a {
  height: 100%;
}

.header a img {
  height: 100%;
  padding: 1rem;
}

.sections {
  background-color: #E1CFB7;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.3);
}

.sections .section {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
}

.sections .section-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 100vh;
}

.sections .section-main .animation-wrapper {
  width: 40vmax;
  height: 40vmax;
  min-height: 200px;
  min-width: 200px;
  margin: auto;
  position: relative;
}

.sections .section-main .animation-wrapper img {
  pointer-events: none;
}

.sections .section-main .animation-wrapper .animation-logo {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  width: 30vmax;
  min-height: 50px;
  min-width: 50px;
  -webkit-animation: 0.4s logo-grow linear both;
          animation: 0.4s logo-grow linear both;
}

.sections .section-main .animation-wrapper .animation-logo-note {
  width: 5vmax;
  -webkit-animation: 1.3s falling ease-in both 0.8s;
          animation: 1.3s falling ease-in both 0.8s;
  z-index: 2;
}

.sections .section-main .animation-wrapper .animation-logo-hole {
  width: 15vmax;
  height: 5vmax;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(64%, #160705), to(#36120d));
  background: linear-gradient(0deg, black 0%, #160705 64%, #36120d 100%);
  border-radius: 50%;
  -webkit-animation: 2s hole ease both 1.2s;
          animation: 2s hole ease both 1.2s;
  -webkit-transform-origin: 0 180%;
          transform-origin: 0 180%;
}

.sections .section-main .animation-wrapper .animation-logo-leaf-1 {
  z-index: 4;
  -webkit-transform-origin: 55% 85%;
          transform-origin: 55% 85%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.sections .section-main .animation-wrapper .animation-logo-leaf-2 {
  z-index: 1;
  -webkit-transform-origin: 60% 85%;
          transform-origin: 60% 85%;
  -webkit-animation-delay: 4.4s;
          animation-delay: 4.4s;
}

.sections .section-main .animation-wrapper .animation-logo.animation-logo-leaf-3 {
  z-index: 2;
  -webkit-transform-origin: 45% 85%;
          transform-origin: 45% 85%;
  -webkit-animation-delay: 4.6s;
          animation-delay: 4.6s;
}

.sections .section-main .animation-wrapper .animation-logo-leaf-4 {
  z-index: 4;
  -webkit-transform-origin: 50% 85%;
          transform-origin: 50% 85%;
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s;
}

.sections .section-main .animation-wrapper .animation-logo-clef {
  z-index: 3;
  -webkit-transform-origin: 50% 80%;
          transform-origin: 50% 80%;
  -webkit-animation-delay: 5.2s;
          animation-delay: 5.2s;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.sections .section-main .animation-text {
  text-align: center;
  position: absolute;
  -webkit-animation: show 4s ease 6.7s both;
          animation: show 4s ease 6.7s both;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
}

.sections .section-main .animation-text-1 {
  top: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sections .section-main .animation-text-2 {
  bottom: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sections .section-title {
  text-align: center;
  margin-bottom: 3rem;
  padding: 0 2rem;
}

.sections .section-description p,
.sections .section-documents p,
.sections .section-info p {
  margin: 3rem 2rem;
  text-align: justify;
}

.sections .section-description p:last-of-type,
.sections .section-documents p:last-of-type,
.sections .section-info p:last-of-type {
  margin-bottom: 0;
}

.sections .section-description img,
.sections .section-documents img,
.sections .section-info img {
  margin: auto;
  display: block;
}

.sections .section-description p {
  text-indent: 3rem;
}

.sections .section-timeline .section-title {
  padding-top: 3rem;
}

.sections .section-timeline .timeline-wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
  height: 100%;
  position: relative;
}

.sections .section-timeline .timeline-wrapper ul {
  list-style-type: none;
}

.sections .section-timeline .timeline-wrapper ul li {
  padding: 20px;
  background-color: #5a2a13;
  color: white;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.sections .section-timeline .timeline-wrapper ul li:last-child {
  margin-bottom: 0;
}

.sections .section-timeline .timeline-wrapper ul li .timeline-item h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.sections .section-timeline .timeline-wrapper ul li .timeline-item p {
  line-height: 1.6rem;
}

.sections .section-documents .section-title {
  padding-top: 3rem;
  margin-bottom: 0;
}

.sections .section-documents .documents {
  padding: 3rem;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.sections .section-documents .documents a {
  display: block;
  width: 100px;
  padding: 1rem;
}

.sections .section-documents .documents a .document-img {
  width: 50px;
}

.sections .section-documents .documents a span {
  font-size: 0.8rem;
}

.sections .section-info {
  padding-bottom: 3rem;
}

.sections .section-info p::first-line {
  font-weight: bold;
  font-size: larger;
}

.sections .section-info .info-address,
.sections .section-info .info-jury {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .sections .section-description p:last-of-type,
  .sections .section-documents p:last-of-type,
  .sections .section-info p:last-of-type {
    margin-bottom: 0;
  }
  .sections .section-description img,
  .sections .section-documents img,
  .sections .section-info img {
    margin: 1rem auto;
    display: block;
  }
  .sections .section-description p {
    margin: 1rem 6rem;
  }
  .sections .section-timeline .timeline-wrapper .section-title {
    padding-top: 0;
  }
  .sections .section-timeline .timeline-wrapper::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 3px;
    background-color: #5a2a13;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .sections .section-timeline .timeline-wrapper ul::after {
    display: block;
    content: '';
    clear: both;
  }
  .sections .section-timeline .timeline-wrapper ul li {
    width: 50%;
    margin-bottom: 4rem;
    position: relative;
  }
  .sections .section-timeline .timeline-wrapper ul li.active::after {
    background-color: #8dd6cf;
    content: '';
    text-align: center;
    vertical-align: 1.5rem;
  }
  .sections .section-timeline .timeline-wrapper ul li.last::after {
    -webkit-animation: 1.5s blink infinite ease both;
            animation: 1.5s blink infinite ease both;
  }
  .sections .section-timeline .timeline-wrapper ul li::after {
    content: '';
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    border: 3px solid #5a2a13;
    border-radius: 50%;
    background-color: #E1CFB7;
  }
  .sections .section-timeline .timeline-wrapper ul li:nth-child(odd) {
    float: left;
    clear: right;
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
    border-radius: 1rem 0 1rem 1rem;
  }
  .sections .section-timeline .timeline-wrapper ul li:nth-child(odd)::after {
    right: -2rem;
    top: 0;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
  .sections .section-timeline .timeline-wrapper ul li:nth-child(even) {
    float: right;
    clear: left;
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
    border-radius: 0 1rem 1rem 1rem;
  }
  .sections .section-timeline .timeline-wrapper ul li:nth-child(even)::after {
    left: -2rem;
    top: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.footer p {
  text-align: center;
  padding: 1rem;
}
/*# sourceMappingURL=style.css.map */