@charset "UTF-8";
@-webkit-keyframes logo-grow {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    top: 50%;
    left: 50%;
    opacity: 0;
  }
  80% {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes logo-grow {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    top: 50%;
    left: 50%;
    opacity: 0;
  }
  80% {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #E1CFB7;
}

body h1,
body h2 {
  font-family: "Roboto Slab", "Times New Roman", serif, sans-serif;
}

.navigation-burger {
  color: #5a2a13;
  font-size: 2rem;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 999;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-text-emphasis: none;
          text-emphasis: none;
}

.navigation-burger:hover {
  color: black;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navigation-burger.active {
  color: #E1CFB7;
}

.navigation-burger.active:hover {
  color: #5a2a13;
}

.navigation {
  z-index: 10;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navigation .navigation-wrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.navigation .navigation-wrap .navigation-h1 {
  text-transform: uppercase;
  margin: 1rem;
  font-size: 2rem;
}

.navigation .navigation-wrap .navigation-ul {
  list-style-type: none;
}

.navigation .navigation-wrap .navigation-ul .navigation-button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navigation .navigation-wrap .navigation-ul .navigation-button:hover {
  color: #E1CFB7;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 5rem;
  width: 100%;
  background-color: white;
  position: fixed;
  padding: 0 3rem 0 0;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 900;
  -webkit-box-shadow: 0 0 3px #5a2a13;
          box-shadow: 0 0 3px #5a2a13;
  text-align: center;
  border-radius: 0 0 1rem 1rem;
}

.header.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header h1 {
  font-size: 1.2rem;
}

.header a {
  height: 100%;
}

.header a img {
  height: 100%;
  padding: 1rem;
}

.sections {
  background-color: #E1CFB7;
  padding: 0 1rem;
  -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.3);
}

.sections .section {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: white;
}

.sections .section-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sections .section-main .animation-wrapper {
  width: 40vmax;
  height: 40vmax;
  min-height: 200px;
  min-width: 200px;
  margin: auto;
  position: relative;
}

.sections .section-main .animation-wrapper .animation-logo {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  width: 30vmax;
  min-height: 50px;
  min-width: 50px;
  -webkit-animation: 0.4s logo-grow linear both;
          animation: 0.4s logo-grow linear both;
}

.sections .section-main .animation-wrapper .animation-logo-leaf-1 {
  z-index: 4;
  -webkit-transform-origin: 55% 85%;
          transform-origin: 55% 85%;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.sections .section-main .animation-wrapper .animation-logo-leaf-2 {
  z-index: 1;
  -webkit-transform-origin: 60% 85%;
          transform-origin: 60% 85%;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.sections .section-main .animation-wrapper .animation-logo.animation-logo-leaf-3 {
  z-index: 2;
  -webkit-transform-origin: 45% 85%;
          transform-origin: 45% 85%;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.sections .section-main .animation-wrapper .animation-logo-leaf-4 {
  z-index: 4;
  -webkit-transform-origin: 50% 85%;
          transform-origin: 50% 85%;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.sections .section-main .animation-wrapper .animation-logo-clef {
  z-index: 3;
  -webkit-transform-origin: 50% 90%;
          transform-origin: 50% 90%;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.sections .section-timeline .section-title {
  text-align: center;
  margin-bottom: 3rem;
  padding: 0 2rem;
}

.sections .section-timeline .timeline-wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
  height: 100%;
  position: relative;
}

.sections .section-timeline .timeline-wrapper ul {
  list-style-type: none;
}

.sections .section-timeline .timeline-wrapper ul li {
  padding: 20px;
  background-color: #5a2a13;
  color: white;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.sections .section-timeline .timeline-wrapper ul li:last-child {
  margin-bottom: 0;
}

.sections .section-timeline .timeline-wrapper ul li .timeline-item h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.sections .section-timeline .timeline-wrapper ul li .timeline-item p {
  line-height: 1.6rem;
}

@media only screen and (min-width: 768px) {
  .section-timeline .timeline-wrapper::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 3px;
    background-color: #5a2a13;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .section-timeline .timeline-wrapper ul::after {
    display: block;
    content: '';
    clear: both;
  }
  .section-timeline .timeline-wrapper ul li {
    width: 50%;
    margin-bottom: 4rem;
    position: relative;
  }
  .section-timeline .timeline-wrapper ul li.active::after {
    background-color: lightgreen;
    border-color: green;
    content: '✔️';
    text-align: center;
    vertical-align: 1.5rem;
  }
  .section-timeline .timeline-wrapper ul li::after {
    content: '';
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    border: 3px solid #5a2a13;
    border-radius: 50%;
    background-color: #E1CFB7;
  }
  .section-timeline .timeline-wrapper ul li:nth-child(odd) {
    float: left;
    clear: right;
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
    border-radius: 1rem 0 1rem 1rem;
  }
  .section-timeline .timeline-wrapper ul li:nth-child(odd)::after {
    right: -2rem;
    top: 0;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
  .section-timeline .timeline-wrapper ul li:nth-child(even) {
    float: right;
    clear: left;
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
    border-radius: 0 1rem 1rem 1rem;
  }
  .section-timeline .timeline-wrapper ul li:nth-child(even)::after {
    left: -2rem;
    top: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
/*# sourceMappingURL=style.css.map */