* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-paragraphs;
    background-color: $main-color;

    h1,
    h2,
    h3 {
        font-family: $font-headers;
    }
}

.cursive {
    font-style: italic;
}

.emphasis {
    font-weight: bold;
}